@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*
 *  FORMATS FOR FONTS
 *  woff: format("woff")
 *  ttf: format("truetype");
*/

@font-face {
  font-family: "Memphis";
  src: url("../public/fonts/MemphisRiver.ttf") format("truetype");
}

@font-face {
  font-family: "Roblox";
  src: url("../public/fonts/Roblox-Font-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Josefin {
  font-family: "Josefin Sans", sans-serif;
}

.Memphis-font {
  font-family: "Memphis", sans-serif;
}

.Roblox-font {
  font-family: "Roblox", sans-serif;
}


@layer base {
  /* LIGHT THEME */
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-hex: #f0f0f0;
    --background-end-hex: #dcdcdc; 
  }

  /* DARK THEME */
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-hex: #202124;
      --background-end-hex: #17181a; 
    }
  }

  body {
    background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex)
  }

  body {
    @apply h-screen flex flex-col;
  }

  main {
    @apply flex-1;
  }


  .text_color {
    @apply text-gray-800 dark:text-gray-300
  }
  .container_theme {
    @apply rounded-lg bg-gray-300 dark:bg-[#292929] p-5
  }
}

@layer components {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
